.topx{
    color: whitesmoke;
}

footer{
    height: 250px;
}

.enla{
    color: whitesmoke;
    text-decoration: none;
}

.fondo{
    height: 100%;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
}

.mapa{
    width: 100%;
}


